

body {
  
    background-image: url(img/4k.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #6699; 
    }

#r2{
   font-size: 30px;
}
.card{
    border-style: solid;
   border-color: rgb(250, 250, 250);
   box-shadow: 0 0 20px rgb(2, 111, 255);
}

.opacidad{
   background-color: transparent;
   backdrop-filter: blur(5px);
   color: rgb(255, 255, 255);
   font-weight: 600;
}
.sub{

	padding:20px;
    user-select: none;
	font-size:20px;
	color:#fff;
	cursor: default;
	position: fixed;
	bottom:20px;
	right:20px;
}